<a href="https://colab.research.google.com/github/Balraju-kavide/python_learnings/blob/main/my_python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basics of Python

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#what is python?
"""1.Genral purpose prog. language,
   2.High level programming language,
   3.object oriented programming langugae----oop's,
   4.Dynamically typed programming language,
   5.interpreted programming language--- """
   #interprited programming language means it executes the code line by line.
x = 10
y = 5
x = 30
y = 60
print(x+y)
   #dynamically typed language means we are not defining the data types for variables in python.
a = 20
print(a)
print(type(a))

90
20
<class 'int'>

1.Genral purpose prog. language,\n   2.High level programming language,\n   3.object oriented programming langugae----oop's,\n   4.Dynamically typed programming language,\n   5.interpreted programming language---

In [ ]:
#what is stastically typed programming laguage?
#in tastically typed programming laguage we need to define data type for variables
#ex: java,c++


# what is low level programming language?
#low level are machine friendly languages
#in this the code is changing to binary form ex: [010101]
#more lines of code

#what is an High level language
#human friendly language
#low lines of code
#it is like an english language

In [ ]:
#IDE :- INTEGRATED DEVELOPMENT EVIRONMENT
#how can you define an ide?
#code compiller, code executer, interpretor

In [ ]:
#print "Hello world" by using python prog lang?
print("Hello world!")

Hello world!

Numerical data types

In [ ]:
#there are 3 types
#Integer-->int-->a whole number without decimal point either +ve or -ve is known as integer
print(10)
#find the data type or class of above integer
#type():-function is used to find the data type
print(type(10))
print(-10)
print(type(-10))

10
<class 'int'>
-10
<class 'int'>

In [ ]:
#float:- a whole number with decimal points either +ve or -ve
print(10.5)
print(type(10.5))
#print the data type for given numbers:- 10.0, 2.1, 3.5, -6.0, -2

10.5
<class 'float'>

In [ ]:
#Complex Numbers:- A real number with its imaginary part is known as complex numbers
print(-10 + 5j)
print(type(-10 + 5j))
#"j" is known  as "iota"-->root(-1)

(-10+5j)
<class 'complex'>

In [ ]:
#what is commenting and why it is important?
#for the better understhanding of the code we are encourging comments
#--->single line comment
""" multiline,
 comment """

''' hi
i am learning comments '''

# **Arthamatic operators**

In [ ]:
#there rae 7 seven arthamatic operators
#Addition-->+
print(10+5)
print(type(10 + 5))
#Subtraction-->-
print(10-5)
print(type(10 - 5))
#Multiplication-->*
print(10*5)
print(type(10 * 5))
#Division-->/
print(10/5)
print(type(10 / 5))

15
<class 'int'>
5
<class 'int'>
50
<class 'int'>
2.0
<class 'float'>

In [ ]:
#Modulus-->%-- nothing but remainder of the divison
print(10 % 5)
print(10 % 3)
print(type(10 % 3))
#exponential---> **--> to the power off
print(10 ** 5)
print(type(10 ** 5))

0
1
<class 'int'>
100000
<class 'int'>

In [ ]:
#why the default data type for divison is float?
"""when your doing the divion sometime if you want
exact co-efficient you may get decimal values instead
denoting the data type by default "gudeo van rossum"
mention it as float"""

In [ ]:
#7.Floor Division: it will ignores the value after decimal point-->//
print(10 / 3)
print(10//3)
print(type(10//3))

3.3333333333333335
3
<class 'int'>

# Round()

In [ ]:
#print the specific decimal values?
print(round(2.5326,2))

2.53

In [ ]:
print(round(2.4326))

2

In [ ]:
#what is floor value?
It gives the largest nearest integer of the specified value.
#what is ceiling vale?
the least integer number greater than or equal to the given number

#Variables

In [ ]:
"""are the containers where you can store your valuable information and reuse it"""
#How can u access the variables
#i am using print statement along with varaible name to access the varible
#what is the purpose of varaibles?
#it is used reduce the memory size
""" rules of creating the variables
   1. always starts with the alphabets.
   2. dont start creating the vaariable with numbers
   3. if you follow the rule no.1 & 2 then you can start creating varriables with alphabets in betweeen you can include the numbers
   4. you should not give spaces in between the variables
   5. you can start the variables and dont use the special characters
   6. you can start creating variables with under space(_) special charaters."""

x = 10
y = 5
#do all the arthmatic operation
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

15
5
50
2.0
0
100000
2

In [ ]:
#What are local variables and global variables in Python?
#Global Variables: Variables declared outside a function or in a global space are called global variables. These variables can be accessed by any function in the program.

#Local Variables: Any variable declared inside a function is known as a local variable. This variable is present in the local space and not in the global space.

In [ ]:
#what is interpreted?
#excute the code lin by line

x = 5
y= 10
x = 20
y = 40
print(x+y)

60

In [ ]:
#Python is case sensitive language.
s = "hello world"
print(S)

# Input()

In [ ]:
#what is input()?
""" it takes the information/data/value given by the user"""
#where we have to use this input()?
"""when user is giving multiple informatin/data/value to the same variables then we have to use the input()"""
#what is the perpose if using the input()?
""" to maintain the memory"""

x = input("enter the number: ")
print(x)
print(type(x))

enter the number: 46
46
<class 'str'>

In [ ]:
#what is the default data type for input()?
#string
#user my give different types of information/data/value the input function has buillt in such a wany any kind of information, thants why defalt data type is string

# string()

In [ ]:
#what is strings?
#collection multiple characters that are written inside quotes.--(" ") or(' ')
#How can you denote or write a multiline string.?
print("""hi
iam using pyhton multiline string
this is my 1st execution """)

In [ ]:
#string is a collection mutliple characters, Each character in string can be accessible.
#How can we access each character in a string?
#we are using "Indexing" and "slicing operator" to access the specific characters in a string

In [ ]:
#indexing:- positional number of each character in a string
#these indexing can be starts with zero
#Slicing Operator: ---> [] --> it is use to break the string. also used to retrive substring from the main string.

In [ ]:
#what is substring?
#is nothing but a part of main string

In [ ]:
x = "Hello world!"
print(x)

Hello world!

In [ ]:
#how to find how many indexs and how to find length of a string?
x = "Hello world!"
#to find the length of string we are using len function-->len()
#length can be start from the 1
print(len(x))
#if you want to find the total index sunstract length - 1
print(len(x)-1)

12
11

In [ ]:
#[start_index value#]
x = "Hello world!"
print(x[0])
print(x[6])

H
w

In [ ]:
#if i want range of characters  for example print "llo wo" from above string?
#[start_index value,end_indexvalue]
print(x[2:8])  #end--> always ---n + 1
#when your print range of character by using slicing operation the end character, if u want to display then add it wit 1

llo wo

In [ ]:
#print "world" from above string?
print(x[6:11])

world

#slicing[]

In [ ]:
#print characters of the even position for the given string "Hello world!"
#HL0WRD
#["start:end:step"]
a = "Hello world!"
print(a[0:12:3])

Hlwl

In [ ]:
#Prind odd index position characters?
print(a[1:12:2])

el ol!

In [ ]:
print(a[1::2]) #-->odd position characters
print(a[::1]) #-->overall string
print(a[::2]) #even position characters
#default the step value can be 1

el ol!
Hello world!
Hlowrd

#negative indexing

In [ ]:
#what is -ve indexing?
#indexing the postional characters from right to lest(reverse direction) by using -ve numbers
#-ve indexing can be starts with -1
#By using the -ve indexing we can access the characters in reverse direction.
s = "Hello world!"
#[start]
#print the w by using -ve indexing?
print(s[-6])

w

In [ ]:
#Print range of characters in -ve indexing?
#world
print(a[-6:-1])

world

In [ ]:
#reverse a string "hello word!"
#!drow olleh
#[start:end:step]
print(a[-1:-13:-1])

!dlrow olleH

In [ ]:
print(a[::-1])

!dlrow olleH

In [ ]:
#check weather the given string is palindrome or not?
a = input("enter your string: ")
print(a[::-1])

enter your string: balu
ulab

#String methods

In [ ]:
#what are all methods applicable on given string?
# use dir() it will tells you what are all the methods can be applicable for given string
#what is dir()?
#it returns what are all the methods applicable on given string

a = "hello world"
#to find methods use dir()
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#important string methods
#1. capitalize
a= "balu"
print(a.capitalize())  #-->o/p--> Hello wprld
#2.upper
print(a.upper())  #-->o/p-->HELLO WORLD

Balu
BALU

In [ ]:
#3.lower
a = "HELLO WORLD"
print(a.lower())

hello world

In [ ]:
#title
#swapcase
#replace ***
#strip
#rstrip
#lstrip

In [ ]:
a = "  helo world   "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

helo world
helo world
  helo world

In [ ]:
a = "hello good morning"
print(a.replace("morning","afternoon",))

hello good afternoon

In [ ]:
#find
#zfill
#isalpha
#isalnum
#replace hello world with  "Hello UNIVERSE"?

In [ ]:
a = "hello i am practicing python daily 2 times"
print(a.isalpha())

False

In [ ]:
a = "helloiam"
print(a.isalpha())

True

In [ ]:
b = "123456"
print(b.isalnum())

True

In [ ]:
b = "123456"
print(b.find("6")) #it returns the indexing position of the given string

5

In [ ]:
c = "hello word"
print(c.find("o"))

4

#String Formatting methods

In [ ]:
#what is string formatting methods?
#It is defined as formmating method can takes an argument and place it over a placeholder{}.
#This can be three 3 types

age = 23
my = "my age is"
print(my,age)

my age is 23

In [ ]:
#string concatination
a = "Hello"
b = "World"
print(a +" "+b)

Hello World

In [ ]:
#1st format method. print formatting method
age = 10
my_age = "i am {} years old."
print(my_age.format(10))

i am 10 years old.

In [ ]:
age = 10
my_age = "i am {} years old.".format(10)
print(my_age)

i am 10 years old.

In [ ]:
#3rd f'string format method':
age =10
my_age = f'i am {age} years old'
print(my_age)

i am 10 years old

In [ ]:
item_name = "Prodct A"
quantity = 10
price_each = 99.9
Notification = "your oreder for {} has confirmed at an price of {}, and quantity of {}, placed sucessfully!"
#ex-o/p--> your oreder for product A has confirmed at an price of 999.0, placed sucessfully!

print(Notification.format(item_name,price_each*quantity,quantity))

your oreder for Prodct A has confirmed at an price of 999.0, and quantity of 10, placed sucessfully!

In [ ]:
item_name = "Prodct A"
quantity = 10
price_each = 99.9
Notification = "your oreder for {} has confirmed at an price of {}, and quantity of {}, placed sucessfully.".format(item_name,price_each*quantity,quantity)
print(Notification)

your oreder for Prodct A has confirmed at an price of 999.0, and quantity of 10, placed sucessfully.

# Escape Characters

In [ ]:
#what is escape characters?
#if you want to print illegal character in a string we have to use escape caracters
#---> use backward slash "\" before of illegal character next at the end also use "\" before illegal character

In [ ]:
a = "Dwyan \"The Rock\" Johnson."
print(a)

Dwyan "The Rock" Johnson.

Type of errors

In [ ]:
#there are 2 types of errors
#1.syntax error
#2.logical error

In [ ]:
#what is syntax errors?
#breaking the rules of the programming language is know as syntax error
#print(x ** y)

In [ ]:
a="laddu"
print(a)

laddu

In [ ]:
#what is logical error?
#except syntax all the errors comes under logical error
#ex;- Name error, recursive error, attribute eerror, indendation error.

In [ ]:
#Rules we need follow to create varaible?
"""1. we can start writing varaibles with alphabets
   2. you should not start with numericals
   3. if u follow rule 1 and 2 you start with letter in b/w u can use numbers
   4. we can create varaible with _
   5. you should not give spaces in between varibles"""

# 2 = "hello world"
# print(2)
# son_age= x/2
# print(son,age)

In [ ]:
#assign a multiple values to multiple varible and print in separate line?
x,y,z = 5,10,15
# print(x)
# print(y)
# print(z)
#use sep="/n"
print(x,y,z,sep='\n')  #"\n"--->represents nextline(backward slash "n")

In [ ]:
#assign same value to the multiple varibles and print in separate linE?
a = b = c = 5
print(a,b,c,sep='\n')

In [ ]:
print(10/3)

3.3333333333333335

Division

In [ ]:
a= 29.39547
print(round(a))

29

In [ ]:
print(10//3)

3

#modulus: reminder of the division is known as modulus

In [ ]:
print(10%5)

0

In [ ]:
print(10%4)

2

In [ ]:
a =10.2345
print(round(a,1))

10.2

In [ ]:
for i in range(0,20):
  if i==10:
    break
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

# Conditional statements()

In [ ]:
#what is comparision operators and what is relational operators?
#Both are same
#1. equals to --> ==
#2. Not equals to ---> !=
#3. greater than ---> >
#4. less than ---> <
#5. greater than equals to ---> >=
#6. less than equals to --> <=

In [ ]:
#if -->elif---> else

Logical operator()

In [ ]:
#logical operaters:- and, or, not
print(10 == 10)
print(10 !=10)
print(10 > 10)
print(10 < 10)
print(10 >=10)
print(10 <=10)

True
False
False
False
True
True

In [ ]:
#not:- it treverse the actual output
print(not(10!=10))

True

In [ ]:
#and:- it will executees the code when all the conditions are true (or) satisfied
a= 10
b= 50
c= 455
#if a is less then b and b is less then c then print all the conditions satisfied.

if (a<b and b<c):
  print ("all the conditions are satisfied")
else:
   print ("all the conditions are not satisfied")

all the conditions are satisfied

In [ ]:
#or:- any one of the condition is true or satisfied  it will execute the code
a= 10
b= 50
c= 455
if (b>a and c>b or c<a):
  print ("all the conditions are satisfied")
else:
   print ("all the conditions are not satisfied")

all the conditions are satisfied

In [ ]:
a= 10
b= 50
c= 455
if a==b and c>a and a>500 and b>200:
  print ("all the conditions are satisfied")
else:
   print ("all the conditions are not satisfied")

all the conditions are not satisfied

In [ ]:
a= 10
b= 50
c= 455
if a==b or c>a or a>500 or b>200:
  print ("all the conditions are satisfied")
else:
   print ("all the conditions are not satisfied")

all the conditions are satisfied

In [ ]:
#writea program to check the given string is palindrome or not?
#MOm
#MADAm
#MALaYALAM
#WoW
#HYDERABAD
#KARNATAKA

a = input("enter the string:")
b = a[::-1]
if a.lower() == b.lower():
  print("palindrome")
else:
  print("not palindrome")

enter the string:hyderabad
not palindrome

In [ ]:
#Nested conditions:- Writing a condition in side the another condition is known as nested conditions.
a=int(input())
if a > 10:
  print("a is greater than 10")
  if a > 20:
    print ("a is greater than 20")
    if a> 30:
      print("a is greater tban 30")
      if a> 40:
        print ("a is greater than 40")
      else:
          print("a is less then 40")
    else:
        print("a is less than 30")
  else:
    print ("a is less than 20")
else:
    print("a is less than 10")

30
a is greater than 10
a is greater than 20
a is less than 30

In [ ]:
a = int (input())
if a>=90:
  print("a is greater thean 90")
else:
  print("a is less than 90")

80
a is less than 90

In [ ]:
marks = int(input("entr the marks"))
passing_marks = 40
# here is an giving the grades
# 40- 60 -->D
#60- 70 -->c

if (marks >= 40 and marks <=60):
  print("D")
elif(marks >60 and marks <=79):
  print("C")
elif marks >=80 and marks <=89 :
  print("B")
elif marks > 90:
  print("A")
else:
  print("false")

entr the marks80
B

In [ ]:
"""pass:- is nothing but a null place holder when you execute the code by using the "pass" keyword nothing will happens"""

marks = 55
passing = 40
if marks >= passing:
  pass

#Loops concepts

In [ ]:
#why we use loops?
#we use the loops to avoid the duplicate codes
    #loops are used to itreate and check the conditions over collections.

    #how many types of code are there?
     #there are 2 types
     # 1:-DRY Code --> D: dont, R: repeat, Y: yourself

     # 2:-WET Code:--> W: write, E: everything T: Twice

In [ ]:
#while loop :
#what is while loop?
#it runs a set of instructions as long as condition remains true.

target = 8
inital_count= 0
while inital_count < target:
  inital_count = inital_count+1
  print("go up")
  print ("go down")
  print(inital_count)

go up
go down
1
go up
go down
2
go up
go down
3
go up
go down
4
go up
go down
5
go up
go down
6
go up
go down
7
go up
go down
8

In [ ]:
#write a program to print first 10 numbers by using while loop
target = 0
while target<= 10:
  target = target+1
  print(target)
  target = target+1

  #Note:- when you use "condition [i=i+1] after the print function the output can be exact range of numbar
  '''if you are using condition [i= i+1] before print statement the output can be increased by 1 with respect to the range of numbers'''

1
3
5
7
9
11

In [ ]:
#write a program to run a lift if the use press button 4 then the lift has to stop.
target = int(input())
G= 0
while G <= target:
  print(f"lift has reached {G} floor")
  print("-----")
  G= G+1

4
lift has reached 0 floor
-----
lift has reached 1 floor
-----
lift has reached 2 floor
-----
lift has reached 3 floor
-----
lift has reached 4 floor
-----

In [ ]:
#write a program to print 10 digits using while loop
a = int(input("enter the number:"))
b = 0
while b<a:
  b = b+1
  print(b)

enter the number10
1
2
3
4
5
6
7
8
9
10

In [ ]:
a = int(input("enter the number:"))
b = 1
while b<=a:
  print(b)
  b = b+2
  #print(b)

enter the number:10
1
3
5
7
9

In [ ]:
a = int(input("enter the number:"))
b = 10
while b<=a:
  print(b)
  b = b*

# For loop()

In [ ]:
# for loop():- it runs a set of instructions for each and every element in a collection.
number = [10,20,30,40,50]
for i in number:
  print(i*2)

20
40
60
80
100

In [ ]:
#print hello world in seperate line by unsing lops?
str = "Hello world"
for i in str:
  print(i)

H
e
l
l
o

w
o
r
l
d

In [ ]:
#write a program to print "hello world" upto length of string if length is 11 print 11 times if length is 15 print 15 times?
str = "balu"
print (len(str))
for i in str:
  print(str)

4
balu
balu
balu
balu

In [ ]:
#Break Statement:- It terminates (or) it breaks the rule once the condition is satisfied.
numbers = [10,20,30,40,50]
for i in numbers:
  if i == 30:
    break
  print(i)

10
20

In [ ]:
# if i use the print() before break why i am getting considered conditi0on value?
""" python is an interpreted language means it will executes the code line by line when i have written print()
before break. before ececuting condition the iteration reaches to specificcondition vlue so we can that specific
value along with thw iterated values in the out put"""

In [ ]:
#Break Statement:- It terminates (or) it breaks the rule once the condition is satisfied.
a = int(input())
for i in range(a):
  if i == 8:
    break
  print(i)

10
0
1
2
3
4
5
6
7

In [ ]:
#continue :- It skips the particular iteration when the condition is satisfied.'
a = [10,20,30,40,50,60,70,80,90]
for x in a:
  if x == 40:
    continue
  print(x)

10
20
30
50
60
70
80
90

In [ ]:
# can we do multiple continue
a = [10,20,30,40,50,60,70,80,90]
for x in a:
  if x in (30,40,70):
    continue
  print(x)

10
20
50
60
80
90

# Range

In [ ]:
#write a program to create a
a= 10
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#range(start,end):
#write a program to print range of values from 10 to 40?
a = int(input())
for i in range(10,a+1):
  print(i)

20
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#write a program to print even numbers fromm 1 to 20?

a = int(input())
for i in range(2,a+1,2):
  print(i)

20
2
4
6
8
10
12
14
16
18
20

# Collections

In [ ]:
#4 types of collection in python
# 1. tuple
# 2. list
# 3. set
# 4. dictionary

# list ()

In [ ]:
#1.List:- --> List are used to store multiple values in a single variable.
#list can be created by using square brackets [].
# List  is ordered
# changable(mutable),
# It allows duplicates

list1 = ["apple", 3,"banana", 2 ,"cherry", 3]
print(list1)

['apple', 3, 'banana', 2, 'cherry', 3]

In [ ]:
#it allows duplicates
list2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage","ornage","Apple"]
print(list2)
print(type(list2))

['Apple', 'Banana', 'cherries', 'kiwi', 'watermelon', 'lemon', 'ornage', 'ornage', 'Apple']
<class 'list'>

In [ ]:
#list is ordered.
"""ordered :- the elements or values in the list is havinga aspecific index position number.
Based on this postion number we are accessing the data."""

In [ ]:
l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage"]
#what is the length of this list?
print(len(l2))

7

In [ ]:
#print or access apple from above list?
print(l2[0])
#print or access watermelon from above list?
print(l2[4])

Apple
watermelon

In [ ]:
#print the range of items "cherries","kiwi","watermelon","lemon"?
#[start:end]
print(l2[2:6])

['cherries', 'kiwi', 'watermelon', 'lemon']

In [ ]:
from ctypes import sizeof
#Use the negative index and print the range of items?
l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage"]
print(l2[-3])

watermelon

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#watermelon","kiwi","cherries"
print(l2[-3:-6:-2])

['watermelon', 'cherries']

In [ ]:
#print the list of even position elements?
print(l2[::2])

['Apple', 'cherries', 'watermelon', 'ornage']

In [ ]:
#reverse the entire list?
print(l2[::-1])

['ornage', 'lemon', 'watermelon', 'kiwi', 'cherries', 'Banana', 'Apple']

In [ ]:
#can we convert a list in to string.
#write a program to convert the list into string.
l3= ['Apple', 'cherries', 'watermelon', 'ornage']
#using loops
for x in l3:
  print(x, end= " ")  #end:- when you donot need output in each line then you use "end=""
  #print(type(x))

Apple cherries watermelon ornage

In [ ]:
l3= ['Apple', 'cherries', 'watermelon', 'ornage']
a =0
while a < len(l3):
  a= a+1
  print(a, end= " ")

1 2 3 4

In [ ]:
#list mutable or changable:-
#How can you define a collection is mutable?
#it can be defined in three ways
#change-->replace--> A-->B
#ADD the items in to the list
# deleting the items in the list

In [ ]:
#change-->replace--> items in list -->replacing in list can be done with the help of index position numbers.
l4 = ['ornage', 'lemon', 'watermelon', 'kiwi', 'cherries', 'Banana', 'Apple']
l4[3] = "starwberry"
print(l4)

['ornage', 'lemon', 'watermelon', 'starwberry', 'cherries', 'Banana', 'Apple']

In [ ]:
#if i want to replace the range of items in the list
l4[0:3] = "mango","pineapple","grapes"
print(l4)

NameError: name 'l4' is not defined

In [ ]:
l4[0:4] = "cashew", "dry grapes"   #it is accepetable inlist your replace index postion with items irrespective of number of position
print(l4)

['cashew', 'dry grapes', 'cherries', 'Banana', 'Apple']

In [ ]:
#ADD the items in to the list
#appen() by default it will add the items in the list in end position
l5= ['Apple', 'cherries', 'watermelon', 'ornage']
l5.append("muskmelon")
print(l5)

['Apple', 'cherries', 'watermelon', 'ornage', 'muskmelon']

In [ ]:
#if i want to add the element in particular index position.
#insert(index,'new item name')
l5.insert(3,'lemon') #note you cannot insert multiple values into the list
print(l5)

['Apple', 'cherries', 'watermelon', 'lemon', 'ornage', 'muskmelon']

In [ ]:
l1= [10,20,30,40]
l2 = ['Apple', 'cherries', 'watermelon', 'ornage']
#here we can give the 1st collection name the other collection elements is going to add in 1at collection
l1.extend(l2)
print(l1)
print(len(l1))

[10, 20, 30, 40, 'Apple', 'cherries', 'watermelon', 'ornage']
8

In [ ]:
#from above o/p how can we acces the elements
print(l2[4])

10

In [ ]:
# write a program to add the elelments to l3 at 2nd index position?
l3= ["apple", "cherries","lemon","lemon"]
l4 = [10,20]
l3.insert(2,l4)
print(l3)

['apple', 'cherries', [10, 20], 'lemon', 'lemon']

Delete or remove

In [ ]:
# Delete
l5 =['apple', 'cherries', [10, 20], 'lemon', 'lemon']
l5.remove("cherries")
print(l5)

['apple', [10, 20], 'lemon', 'lemon']

In [ ]:
l5 =['apple', 'cherries', [10, 20], 'lemon', 'lemon']
l5.remove("lemon")
print(l5)

['apple', 'cherries', [10, 20], 'lemon']

pop()

In [ ]:
l5 =['apple', 'cherries', [10, 20], 'lemon', 'lemon']
l5.pop()  #----> defalt it takes last element in the list
print(l5)

['apple', 'cherries', [10, 20], 'lemon']

In [ ]:
l5 =['apple', 'cherries', [10, 20], 'lemon', 'lemon']
l5.pop(2)
print(l5)

['apple', 'cherries', 'lemon', 'lemon']

In [ ]:
#delete
l6 =['apple', 'cherries', [10, 20], 'lemon', "orange", "lemon", "banana","watermelon"]
del l6[2:5]
print(l6)

['apple', 'cherries', 'lemon', 'banana', 'watermelon']

In [ ]:
del l6 #this will delete entire collection or list

In [ ]:
#sorting can be done based on ascii numbers
#ASCII:- american standaer code for information inter change.

In [ ]:
l2 = ["mango","Apple","pineapple","grapes","kiwi","watermelon"]
#insert "apple" in index posituion "1"
l2.insert(1,"apple")
print(l2)

['mango', 'apple', 'Apple', 'pineapple', 'grapes', 'kiwi', 'watermelon']

sorting()

In [ ]:
l2.sort()    #----> defalt is ascending order (lower to higher ...A asci value is 65)
print(l2)

['Apple', 'apple', 'grapes', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
l2.sort(reverse = True)
print(l2)

['watermelon', 'ornage', 'lemon', 'kiwi', 'cherries', 'Banana', 'Apple']

In [ ]:
#sort the above collection with out case sensitivity.
l2.sort(reverse= False,key =str.lower)
print(l2)

['apple', 'Apple', 'grapes', 'kiwi', 'mango', 'pineapple', 'watermelon']

# tuple()

In [ ]:
# tuple:-->()
#ordered, immutable(unchangable) it allows the duplicates

In [ ]:
#tuple allows duplicates
t1 = ("anji","balu","raju","bhnau","aayu","naresh","balu")
print(t1)
print(len(t1))
print(type(t1))

('anji', 'balu', 'raju', 'bhnau', 'aayu', 'naresh', 'balu')
7
<class 'tuple'>

In [ ]:
#tuples are ordered :- accessing or desplaying the specific data by using index position numbers.
#each element in the collection is having its index position number.

t1= ("anji","balu","raju","bhnau","aayu","naresh","balu")
print(t1[4])

aayu

In [ ]:
print(t1[3:6])

('bhnau', 'aayu', 'naresh')

In [ ]:
#print even positions in the below collection ?
print(t1[:: 2])

('anji', 'raju', 'aayu', 'balu')

In [ ]:
#reverse the tuple
t1 = ("anji","balu","raju","bhnau","aayu","naresh","balu")
print(t1[::-1])

('balu', 'naresh', 'aayu', 'bhnau', 'raju', 'balu', 'anji')

In [ ]:
#Immutable:-
t1 = ("anji","balu","raju","bhnau","aayu","naresh","balu")
t1[1]="sai"
print(t1)
t1.pop()
print(t1)
#Note:- tuples are immutable so we can not add or delete items from tuple

In [ ]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:

print(t1.count("balu"))
print(t1.index("raju"))

2
2

In [ ]:
#create a list by using the tuple
t1 = ("anji","balu","raju","bhnau","aayu","naresh","balu")
print(type(t1))
t2= list(t1)
print(t2)
print(type(t2))

<class 'tuple'>
['anji', 'balu', 'raju', 'bhnau', 'aayu', 'naresh', 'balu']
<class 'list'>

In [ ]:
#difference between list and tuple?
# why tuples are faster then list?

# set{}

In [ ]:
#set --->{}
#unordered, immutable,it wont allow the duplicates>
s1= {"anji","balu","raju","bhnau","aayu","naresh","balu"}
print(s1)

{'anji', 'raju', 'balu', 'naresh', 'bhnau', 'aayu'}

In [ ]:
#unordered--> we can not access the elements from the sets why because it doesn't have index position  numbers.
print(s1[2])

In [ ]:
#sets are immutable--->
# in sets we can able to add and delete the items/elements but we can not replace the items/elements
#why we can't swap or replace or chage elements in sets?
#sets does not have index positions so we cannot replace the elements
#where the elements in set are storing?
#elements are storeing randomly in sets.

In [ ]:
#adding of elements in the sets
#what is the defalt index poitions when you add elements/items in the set.
s1.add("sai")
print(s1)

{'anji', 'raju', 'balu', 'naresh', 'bhnau', 'aayu', 'sai'}

In [ ]:
#if i want to add multiple values in the set then?
#update
s2={"chikki","laddu","vamshi"}
s1.update(s2)
print(s1)

{'anji', 'naresh', 'bhnau', 'aayu', 'sai', 'raju', 'balu', 'laddu', 'chikki', 'vamshi'}

In [ ]:
s3= {1.2,3,4,5,3}
print(s3)
s3.update("20","30","40")
print(s3)

{1.2, 3, 4, 5}
{'0', 1.2, 3, 4, 5, '4', '2', '3'}

In [ ]:
#remove elements from set.
s1.remove("balu")
print(s1)
#remobve takes exactly one argument'

{'anji', 'naresh', 'bhnau', 'aayu', 'sai', 'raju', 'laddu', 'chikki', 'vamshi'}

In [ ]:
#discord
s1.discard("vamshi")
print(s1)
#set.discard() takes exactly one argument

{'anji', 'naresh', 'bhnau', 'aayu', 'sai', 'raju', 'laddu', 'chikki'}

In [ ]:
#pop()
s1={'anji', 'naresh', 'bhnau', 'aayu', 'sai', 'raju', 'laddu', 'chikki'}
s1.pop()
print(s1)
#why we are not using pop methods in sets?
#it remove the elements randomly.

{'laddu', 'raju', 'sai', 'anji', 'naresh', 'bhnau', 'chikki'}

In [ ]:
#what is the difference between discard and remove?
#when we use the discard if the itens exist or not in the collectin it wont through any errors while executing.

s= {'0', 1,2, 3, 4, 5, '4', '2', '3'}
s.discard(5)
print(s)

{1, 2, 3, 4, '0', '3', '2', '4'}

In [ ]:
#execute matrix operation by using two sets
#union and intersection
s1 = {1,2,9,3,4,5}
s2 = {4,5,6,7,8}
s_add= s1.union(s2)
print(s_add)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s_intersection = s1.intersection(s2)   #common elements will be printed
print(s_intersection)

{4, 5}

# Dictionary

In [ ]:
#what is dictionary ?
#---> {}---> unordered,mutable,donot allow the duplicates.
#where the itens stored in dictionary.
#key : value pairs

In [ ]:
#dictionary wont allows duplicares.
d1 ={
    "name":"balu",
    "age": 23,
    "education" : "b.tech in data science",
    "education" :"Btech"
}
print(d1)
print(len(d1))

{'name': 'balu', 'age': 23, 'education': 'Btech'}
3

In [ ]:
d1 ={
    "name":"balu",
    "age": 23,
    "education" : "b.tech in data science",
    "education" :"Btech",
    "fruits":["apple","banana","cherry","mango","pinapple","oranges","apple"]
}
print(d1)
print(d1["name"])

{'name': 'balu', 'age': 23, 'education': 'Btech', 'fruits': ['apple', 'banana', 'cherry', 'mango', 'pinapple', 'oranges', 'apple']}
balu

In [ ]:
#print "name" from dictionary "d1"
print(d1["name"])
print(d1["fruits"][2:5])

balu
['cherry', 'mango', 'pinapple']

In [ ]:
# I what to replace the value of the "name"
d1["name"]="balraju"
print(d1)

{'name': 'balraju', 'age': 23, 'education': 'Btech', 'fruits': ['apple', 'banana', 'cherry', 'mango', 'pinapple', 'oranges', 'apple']}

In [ ]:
d1["bike"]="RX100"
print(d1)

{'name': 'balraju', 'age': 23, 'education': 'Btech', 'fruits': ['apple', 'banana', 'cherry', 'mango', 'pinapple', 'oranges', 'apple'], 'bike': 'RX100'}

In [ ]:
#we are not using any replace and insert methods in dictionary
#if  the key name exits the value gets replaced others if the key naem doesn't exit a new:value pair is added.
#

In [ ]:
#how can we delete or remove items in adectionary?
d1 ={
    "name":"balu",
    "age": 23,
    "education" : "b.tech in data science",
    "education" :"Btech",
    "fruits":["apple","banana","cherry","mango","pinapple","oranges","apple"]
}

In [ ]:
#delete fruits from the above dict
d1.pop("fruits")
print(d1)

{'name': 'balraju', 'age': 23, 'education': 'Btech', 'bike': 'RX100'}

In [ ]:
d1 ={
    "name":"balu",
    "age": 23,
    "education" : "b.tech in data science",
    "education" :"Btech",
    "fruits":["apple","banana","cherry","mango","pinapple","oranges","apple"]
}

In [ ]:
#insert kiwi into fruits of list
d1["fruits"][1] = "kiwi"
print(d1)

{'name': 'balu', 'age': 23, 'education': 'Btech', 'fruits': ['apple', 'kiwi', 'cherry', 'mango', 'pinapple', 'oranges', 'apple']}

In [ ]:
d1["fruits"].insert(1,"grapes")
print(d1)

{'name': 'balu', 'age': 23, 'education': 'Btech', 'fruits': ['apple', 'grapes', 'kiwi', 'cherry', 'mango', 'pinapple', 'oranges', 'apple']}

In [ ]:
d1["fruits"].append("lemon")
print(d1)

{'name': 'balu', 'age': 23, 'education': 'Btech', 'fruits': ['apple', 'grapes', 'kiwi', 'cherry', 'mango', 'pinapple', 'oranges', 'apple', 'lemon']}

In [ ]:
del d1["age"]
print(d1)

{'name': 'balu', 'education': 'Btech', 'fruits': ['apple', 'grapes', 'kiwi', 'cherry', 'mango', 'pinapple', 'oranges', 'apple', 'lemon']}

In [ ]:
d1.clear()  #it delete the complete dictionary

In [ ]:
print(d1)

{}

In [ ]:
d4= {
    "name":"balu",
    "age":23,
    "education":"b.tech"
}

In [ ]:
#print only keys from dictionary
print(d4.keys())
#print only items
print(d4.items())
#print only values
print(d4.values())

dict_keys(['name', 'age', 'education'])
dict_items([('name', 'balu'), ('age', 23), ('education', 'b.tech')])
dict_values(['balu', 23, 'b.tech'])

In [ ]:
#working with loops in dictionary
for x in d4:
  print(x)

name
age
education

In [ ]:
#print values in a seperate line
for x in d4.values():
  print(x)

balu
23
b.tech

In [ ]:
for x in d4.items():
  print(x)

('name', 'balu')
('age', 23)
('education', 'b.tech')

In [ ]:
for x in d4.keys():
  print(f"{x}:{d4[x]}")

name:balu
age:23
education:b.tech

# function()

In [ ]:
#what is a function()
'''function ia block of code which only runs when it is called '''
#how to create the function and how to call the function ?
#to create the function use keyword called "def"
def balu():
  print("hello world")
  print("this is running with a function")
  print("---------------")

#call this function
balu()

hello world
this is running with a function
---------------

In [ ]:
def zenvius_welcome():
  print("hello good morning")
  print("this is your module 2")
  print("please practice your session")
zenvius_welcome()
#balu()

hello good morning
this is your module 2
please practice your session

In [ ]:
#what is parameter
#what is argument
#what is difference between parameter and argument?

parameter

In [ ]:
#what is parameter?
#creating a variable when you defining a function is known  as parameter
def details(name,age,gender,education):
  print(f"hello {name}, and my age is {age},my gender is {gender},i have done my graduation in {education}")

#call this function
name=input("enter your name:")
age=int(input("enter your age:"))
gender=input("enter your gender:")
education=input("enter your education")

#what is argument?
#calling the function with certain values
details(name,age,gender,education)

enter your name:balu
enter your age:23
enter your gender:male
enter your educationB.tech
hello balu, and my age is 23,my gender is male,i have done my graduation in B.tech

In [ ]:
def details(name,age,gender,education):
  print(f"hello {name}, and my age is {age}, my gender is {gender}, i have done my graduation in {education}")
details("balu",23,"male","B.tech")

hello balu, and my age is 23, my gender is male, i have done my graduation in B.tech

In [ ]:
def details(name,age,gender,education):  #----> these are parameters
    print(f"hello {name}, and my age is {age}, my gender is {gender}, i have done my graduation in {education}")
details("balu",23,"male","B.tech") #---> these are arguments

#note:- it is important to give or to call function with same number of arguments when you have defined function with specific number of parameters.
#call function--> N0. of parameters == No.of argumengts

hello balu, and my age is 23,my gender is male,i have done my graduation in B.tech

In [ ]:
#what  do i do when i dont know hoe many paramenters do i need to pass?
def f2(**name):
  for x in name:
    print(f"hello,{x}")
  print("==============")
f2(name="python",last_name="programming language")

hello,name
hello,last_name
==============

java 20

In [ ]:
def f2(**name):
  for x,y in name.items():
    print(f"{x}={y}")
  print("==============")
f2(name="python",last_name="programming language")
f2(name= "java",last_name="programming laguage",mobile=987654321)
f2(address="ameerpet",institute="zenvius")

name=python
last_name=programming language
==============
name=java
last_name=programming laguage
mobile=987654321
==============
address=ameerpet
institute=zenvius
==============

In [ ]:
print(10,20,30,40,50,sep="\n")

10
20
30
40
50

In [ ]:
def f3(name,age,gender):
  print(name,age,gender,sep="\n")
f3("balu",23,"male")

balu
23
male

In [ ]:
#what do i have to do when you don't know how to deal with no of arguments?
def f4(*n):
  for x in n:
    print(f"{x}")
f4("python","java","c")

python
java
c

In [ ]:
""" * -->  when you dont know how many arguments your giving use (*)---> arbitrary arguments (ARUGS)
and defalt data type for "aurgs" is 'Tuple"
    **--> when you dont know hoe many parameters your giving use (**)--> arbitary keyword arguments(kwarugs)
and default data type for "kwargs" is "dictionary" """

In [ ]:
import re

# Stage 1: Registration
def register():
    username = input("Enter a username (email): ")
    if not re.match(r"[a-zA-Z][a-zA-Z0-9]*@[a-zA-Z0-9]+\.[a-zA-Z0-9]+", username):
        print("Invalid username. Please follow the format: example@gmail.com")
        return

    password = input("Enter a password (5-16 characters, 1 special, 1 digit, 1 uppercase, 1 lowercase): ")
    if not re.match(r"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,16}$", password):
        print("Invalid password. Please follow the format: 1 special, 1 digit, 1 uppercase, 1 lowercase")
        return

    # Store data in a file
    with open("users.txt", "a") as f:
        f.write(f"{username}:{password}\n")
    print("Registration successful!")

# Stage 2: Login
def login():
    username = input("Enter your username: ")
    password = input("Enter your password: ")

    with open("users.txt", "r") as f:
        for line in f:
            stored_username, stored_password = line.strip().split(":")
            if username == stored_username:
                if password == stored_password:
                    print("Login successful!")
                    return
                else:
                    print("Incorrect password. Forgot password?")
                    forget_password(username)
                    return
        print("Username not found. Please register!")

# Stage 3: Forgot password
def forget_password(username):
    with open("users.txt", "r") as f:
        for line in f:
            stored_username, stored_password = line.strip().split(":")
            if username == stored_username:
                print(f"Your password is: {stored_password}")
                return
    print("Username not found. Please register!")

# Main program
while True:
    print("1. Register")
    print("2. Login")
    choice = input("Enter your choice: ")
    if choice == "1":
        register()
    elif choice == "2":
        login()
    else:
        print("Invalid choice. Please try again!")

1. Register
2. Login
Enter your choice: 1
Enter a username (email): balraju#123
Invalid username. Please follow the format: example@gmail.com
1. Register
2. Login
Enter your choice: 1
Enter a username (email): 2
Invalid username. Please follow the format: example@gmail.com
1. Register
2. Login
Enter your choice: 1
Enter a username (email): balraju@gmail.com
Enter a password (5-16 characters, 1 special, 1 digit, 1 uppercase, 1 lowercase): Balraju@2501
Registration successful!
1. Register
2. Login

KeyboardInterrupt: Interrupted by user